openapi: 3.0.0
info:
  title: Hack as a Service API
  version: 1.0.0
servers:
  - url: https://hackclub.app/api
    description: Production
  - url: http://localhost:3000/api
    description: Local development
security:
  - cookieAuth: []
  - bearerAuth: []

paths:
  /users/me:
    get:
      summary: Fetch the current user
      tags:
        - Users
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/User"
        "500":
          description: Internal server error
        "401":
          description: Unauthorized
  /users/me/teams:
    get:
      summary: Fetch the current user's teams
      tags:
        - Users
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/Team"
                example:
                  - id: 1
                    name: Zach Latta's team
                    slug: zach-latta-4852
                    personal: true
                  - id: 8
                    name: Hack as a Service
                    slug: hack-as-a-service
                    avatar: https://doggo.ninja/dzippy.png
                    personal: false
                  - id: 5
                    name: Hack Club HQ
                    slug: hackclub
                    avatar: https://assets.hackclub.com/icon-progress-square.svg
                    personal: false
        "500":
          description: Internal server error
        "401":
          description: Unauthorized
  /teams:
    post:
      summary: Create a team
      tags:
        - Teams
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/Team"
            example:
              slug: hack-as-a-service
              name: Hack as a Service
              avatar: https://doggo.ninja/dzippy.png
      responses:
        "201":
          description: Created
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Team"
        "500":
          description: Internal server error
        "401":
          description: Unauthorized
        "409":
          description: Conflict
  /teams/{slug}:
    get:
      summary: Fetch a team
      tags:
        - Teams
      parameters:
        - in: path
          name: slug
          schema:
            type: string
          required: true
          example: hack-as-a-service
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Team"
        "500":
          description: Internal server error
        "404":
          description: Team not found
        "401":
          description: Unauthorized
  /teams/{slug}/users:
    get:
      summary: Fetch a team's users
      tags:
        - Teams
      parameters:
        - in: path
          name: slug
          schema:
            type: string
          required: true
          example: hack-as-a-service
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/User"
                example:
                  - id: 5
                    slack_user_id: U0266FRGP
                    name: Zach Latta
                    avatar: https://ca.slack-edge.com/T0266FRGM-U0266FRGP-db89498acd5d-192
                  - id: 4
                    slack_user_id: U013B6CPV62
                    name: Caleb Denio
                    avatar: https://avatars.slack-edge.com/2021-09-02/2437082298583_2f2915106fbaf3a01afc_512.png
        "500":
          description: Internal server error
        "404":
          description: Team not found
        "401":
          description: Unauthorized
  /teams/{slug}/apps:
    get:
      summary: Fetch a team's apps
      tags:
        - Teams
      parameters:
        - in: path
          name: slug
          schema:
            type: string
          required: true
          example: hack-as-a-service
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/App"
                example:
                  - id: 5
                    team_id: 6
                    created_at: "2021-09-07T22:52:53.381574"
                    slug: dinopoll
                    enabled: true
                  - id: 8
                    team_id: 6
                    created_at: "2021-09-07T22:52:53.381574"
                    slug: scrappy
                    enabled: true
        "500":
          description: Internal server error
        "404":
          description: Team not found
        "401":
          description: Unauthorized
    post:
      summary: Create an app
      tags:
        - Apps
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                slug:
                  type: string
              required:
                - slug
              example:
                slug: dinopoll
      parameters:
        - in: path
          name: slug
          schema:
            type: string
          required: true
          example: hack-as-a-service
      responses:
        "200":
          description: Created
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/App"
        "500":
          description: Internal server error
        "404":
          description: Team not found
        "401":
          description: Unauthorized
        "409":
          description: Conflict
  /apps/{slug}:
    get:
      summary: Fetch an app
      tags:
        - Apps
      parameters:
        - in: path
          name: slug
          schema:
            type: string
          required: true
          example: dinopoll
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/App"
        "500":
          description: Internal server error
        "404":
          description: App not found
        "401":
          description: Unauthorized
  /apps/{slug}/domains:
    get:
      summary: Fetch an app's domains
      tags:
        - Apps
      parameters:
        - in: path
          name: slug
          schema:
            type: string
          required: true
          example: dinopoll
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/Domain"
        "500":
          description: Internal server error
        "404":
          description: App not found
        "401":
          description: Unauthorized
components:
  securitySchemes:
    cookieAuth:
      type: apiKey
      in: cookie
      name: haas_token
    bearerAuth:
      type: http
      scheme: bearer
  schemas:
    User:
      type: object
      properties:
        id:
          type: integer
        slack_user_id:
          type: string
        name:
          type: string
        avatar:
          type: string
      required:
        - id
        - slack_user_id
        - name
      example:
        id: 5
        slack_user_id: U0266FRGP
        name: Zach Latta
        avatar: https://ca.slack-edge.com/T0266FRGM-U0266FRGP-db89498acd5d-192
    Team:
      type: object
      properties:
        id:
          type: integer
          readOnly: true
        name:
          type: string
        slug:
          type: string
        avatar:
          type: string
        personal:
          type: boolean
          readOnly: true
      required:
        - id
        - slug
        - personal
      example:
        id: 8
        name: Hack as a Service
        slug: hack-as-a-service
        avatar: https://doggo.ninja/dzippy.png
        personal: false
    App:
      type: object
      properties:
        id:
          type: integer
          readOnly: true
        team_id:
          type: integer
        created_at:
          type: string
          format: date-time
        slug:
          type: string
        enabled:
          type: boolean
      required:
        - id
        - team_id
        - created_at
        - slug
        - enabled
      example:
        id: 5
        team_id: 6
        created_at: "2021-09-07T22:52:53.381574"
        slug: dinopoll
        enabled: true
    Domain:
      type: object
      properties:
        id:
          type: integer
          readOnly: true
        domain:
          type: string
        verified:
          type: boolean
          readOnly: true
        app_id:
          type: integer
          readOnly: true
      required:
        - id
        - domain
        - verified
        - app_id
      example:
        id: 7
        app_id: 5
        domain: dinopoll.hackclub.app
        verified: true
